<p-card [style]="{'width': '25rem', 'margin-bottom': '2em','margin-top':'2rem','margin-left':'2rem'}">
     <form [formGroup]="userForm" class="flex flex-column align-items-center gap-3" (ngSubmit)="addUser()">
    <div class="field">
        <label for="firstName" class="block">FirstName</label><br>
        <input type="text" pInputText placeholder="firstName " formControlName="firstName"/>
        <small class="p-error block" *ngIf="
          userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty 
         "
        >Firstname is required</small>
    </div>
         
         
    <div class="field">
        <label for="lastName" class="block">lastName</label><br>
        <input type="text" pInputText placeholder="lastName" formControlName="lastName"/>
        <small class="p-error block" *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.dirty 
         "
        >Lastname is required</small>
    </div>
    <div formGroupName="address">
    <h2>Address</h2>
    <div class="field">
        <label for="street" class="block">Street</label><br>
        <input type="text" pInputText placeholder="street " formControlName="street"/>
        <small class="p-error block" *ngIf="
          userForm.get('address.street')?.invalid && userForm.get('address.street')?.dirty 
         "
        >streetis required</small>
        
    </div>
    <div class="field">
        <label for="postcode" class="block">PostCode</label><br>
        <input type="text" pInputText placeholder="postcode " formControlName="postcode"/>
        <small class="p-error block" *ngIf="
          userForm.get('address.postcode')?.invalid && userForm.get('address.postcode')?.dirty 
         "
        >postcode is required</small>
    </div>
    </div>
       
    <button pButton pRipple type="button"  icon="pi pi-check" [disabled]="userForm.invalid">Submit</button>
    
       </form>
    
</p-card>
 